*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.nav-bar{
    width: 100%;
    padding: 1rem;
    position: top;
    text-align: left;
    background-color: black;
    padding: 1/5rem;
    color: white;
    font-size: 12px;
    max-height: 4rem;
    clear: right;
}


.menu{
    top: 0;
    visibility: visible;
    float: right;
    margin-top: -5px;
    padding: 5px;
}

.menu-text{
    position: top;
    visibility: hidden;
    float: right;
    margin: 0;
    padding: 0;
}

main{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.contact{
    min-height: 600px;
    background-color: grey;
    padding: 5%;
}

footer{
    padding: 1rem;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    position: bottom;
}



@media screen and (min-width: 720px){
    .nav-bar{
        font-size: 16pt;
    }

    .menu{
        visibility: hidden;
    }

    .menu-text{
        visibility: visible;
        color: white;
        background-color: black;
    }

}

@media screen and (min-width: 880px){
    h1{
        font-size: 44px;
    }
}
