*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Proza Libre', sans-serif;
    height: 4rem;
    width: 100%;
    position: top;
    text-align: left;
    clear: right;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 1rem;
}



.menu{
    font-size: 16px;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.menu:hover{
    color: black;
    background-color: #cd75ff;
}

header{
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100px;;
    z-index: 1;
    right: 0;
}

header .header-link{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: black;
}

.header-link{
    text-decoration: none;
    color: white;
    padding: .5rem;
}

.header-link:hover{
    color: black;
    background-color: #cd75ff;
}

.dropdown {
    float: right;
    margin: 0; 
    padding: 0;
}

.show{
    display: block;
}

main{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, black, purple);
    min-width: 80%;
    min-height: 100vh;
    padding: 30px;
}

h1{
    color: white;
    margin: 0;
    border-bottom: white 2pt solid;
    padding-bottom: 20px;
}

p{  
    color: rgb(245, 170, 255);
    font-weight: lighter;
    font-size: 12px;
    text-indent: 15px;
    line-height: 24px;
}

span{
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.back, .next{
    align-self: center;
    min-height: 100px;
    max-width: 100px;
    min-width: 20px;
    font-size: 20px;
    padding: 5px;
    color: white;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.back:hover, .next:hover{
    font-weight: bold;
    border: black 2pt solid;
}

.display-box{
    display: flex;
    text-align: center;
    min-height: 560px;
    background-color: Transparent;
    background-repeat:no-repeat;
    color: white;
    flex-grow:1;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    padding: .5rem;
}

a:hover{
    color: black;
    background-color: #cd75ff;
}

footer{
    font-family: 'Proza Libre', sans-serif;
    padding: 1rem;
    text-align: center;
    background-color: white;
    color: black;
    width: 100%;
    position: relative;
    bottom: 0;
}


.project-pics{
    display: none;
}
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: white;
    border: 1pt black solid;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
p{
    font-size: 16px;
    font-weight: bold;
}

img{
    width:100%;
    height:100%;
    max-height: 500px;
    max-width:500px;
    min-height: 150px;
    min-height: 150px;
}

.app-link{
    display: block;
    color: black;
    border: 2pt black solid;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (min-width: 720px){
    nav{
        font-size: 16pt;
    }
    footer{
        margin-top: 3rem;
    }
}
        
@media screen and (min-width: 880px){
    h1{
        font-size: 44px;
        margin: 10px;
    }
    
    main{
        padding: 15%;
    }

    header{
        display: inline-block;
        position: top;
        right: 0;
        margin-right: 10px;
        padding: 0;
        color: white;
        background-color: black;
    }
        
    .menu{
        display: none;
    }
        
    header .header-link{
        display: inline-block;
        max-height: 3rem;
    }
    
    .display-box{
        max-height: 1000px;
    }

    p{
        padding: 15px;
        font-size: 22px;
    }

    footer{
        margin-top: 2rem;
    }
}
        
