*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Proza Libre', sans-serif;
    width: 100%;
    padding: 1rem;
    position: top;
    text-align: left;
    background-color: black;
    padding: 1/5rem;
    color: white;
    font-size: 12px;
    max-height: 4rem;
    clear: right;
}


.menu{
    top: 0;
    visibility: visible;
    float: right;
    margin-top: -10px;
    padding: .5rem;
    font-size: 14px;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.menu:hover{
    color: black;
    background-color: #cd75ff;
}

header{
    position: top;
    visibility: hidden;
    float: right;
    margin: 0;
    padding: 0;
}

main{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, purple, white);
    
}

.back, .next{
    min-height: 600px;
    max-width: 60px;
    color: white;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.back:hover, .next:hover{
    font-weight: bold;
    border: black 2pt solid;
}

.display-box{
    text-align: center;
    min-height: 560px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: black 1pt solid;
    color: white;
    flex-grow:2;
}

footer{
    font-family: 'Proza Libre', sans-serif;
    padding: 1rem;
    text-align: center;
    background-color: white;
    color: black;
    width: 100%;
    position: bottom;
}



@media screen and (min-width: 720px){
    nav{
        font-size: 16pt;
    }

    .menu{
        visibility: hidden;
    }

    header{
        visibility: visible;
    }

}

@media screen and (min-width: 880px){
    h1{
        font-size: 44px;
    }
}
